<div align="center"><b>MSDE 620</b></div>
<div align="center"><b>Week 4</b></div>
<div align="center"><b>Laboratory</b></div>
<div align="center"><b>Terrance Bensink</b></div>
<div align="center"><b>Regis University</b></div>

[Introduction](#Introduction)

[Exploratory DataFrame Analysis](#Exploratory-DataFrame-Analysis)

[Rename Columns](#Rename-Columns)

[Conclusion](#Conclusion)

# Introduction
### This notebook cleans a dataset using string operations to replace and substitute variable names and values whose meaning are unclear to anyone performing analysis on the data. After some basic EDA, characters such as '_', '-', and '.' will be replaced with a space. Additionally, column headers will be capitalized and abbreviations will be replaced with full words to maximize clarity.

In [56]:
import re
import pandas as pd
import numpy as np

## Exploratory DataFrame Analysis

In [57]:
df = pd.read_csv('assign_wk4/bank-additional.csv', sep=';')

In [58]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [59]:
df.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [60]:
df['poutcome'].value_counts()

nonexistent    3523
failure         454
success         142
Name: poutcome, dtype: int64

## Rename Columns

In [61]:
columns = df.columns
columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

### Replace characters using list comprehensions

In [62]:
columns = [c.replace('.', ' ') for c in columns]
columns = [c.replace('_', ' ') for c in columns]
columns = [c.replace('cons ', 'consumer ') for c in columns]
columns = [c.replace(' idx', ' index') for c in columns]
columns = [c.replace(' conf', ' confidence') for c in columns]
columns

['age',
 'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day of week',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'emp var rate',
 'consumer price index',
 'consumer confidence index',
 'euribor3m',
 'nr employed',
 'y']

In [63]:
df.columns = columns
df

,age,job,marital,education,default,housing,loan,contact,month,day of week,...,campaign,pdays,previous,poutcome,emp var rate,consumer price index,consumer confidence index,euribor3m,nr employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

### Rename individual columns for clarity

In [64]:
df.rename(columns = {'nr employed':'number employed'}, inplace=True)
df.rename(columns = {'poutcome':'previous outcome'}, inplace=True)
df.rename(columns = {'pdays':'days since contacted'}, inplace=True)
df.rename(columns = {'previous':'number previous contacts'}, inplace=True)
df.rename(columns = {'y':'term deposited'}, inplace=True)
df.rename(columns = {'euribor3m':'eurobori 3 mos'}, inplace=True)
df.rename(columns = {'duration':'contact duration'}, inplace=True)
df.rename(columns = {'marital':'marital status'}, inplace=True)
df.rename(columns = {'job':'job type'}, inplace=True)
df.rename(columns = {'housing':'mortgage'}, inplace=True)
df.rename(columns = {'loan':'personal loan'}, inplace=True)
df.rename(columns = {'default':'default credit'}, inplace=True)
df.rename(columns = {'month':'last contact'}, inplace=True)
df.rename(columns = {'contact':'contact type'}, inplace=True)
df.rename(columns = {'campaign':'total contacts'}, inplace=True)
df.rename(columns = {'emp var rate':'employment variation rate'}, inplace=True)
df

,age,job type,marital status,education,default credit,mortgage,personal loan,contact type,last contact,day of week,...,total contacts,days since contacted,number previous contacts,previous outcome,employment variation rate,consumer price index,consumer confidence index,eurobori 3 mos,number employed,term deposited
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

### Capitalize column strings

In [65]:
columns = df.columns
columns = [c.title() for c in columns]
columns

['Age',
 'Job Type',
 'Marital Status',
 'Education',
 'Default Credit',
 'Mortgage',
 'Personal Loan',
 'Contact Type',
 'Last Contact',
 'Day Of Week',
 'Contact Duration',
 'Total Contacts',
 'Days Since Contacted',
 'Number Previous Contacts',
 'Previous Outcome',
 'Employment Variation Rate',
 'Consumer Price Index',
 'Consumer Confidence Index',
 'Eurobori 3 Mos',
 'Number Employed',
 'Term Deposited']

In [66]:
df.columns = columns
df

,Age,Job Type,Marital Status,Education,Default Credit,Mortgage,Personal Loan,Contact Type,Last Contact,Day Of Week,...,Total Contacts,Days Since Contacted,Number Previous Contacts,Previous Outcome,Employment Variation Rate,Consumer Price Index,Consumer Confidence Index,Eurobori 3 Mos,Number Employed,Term Deposited
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

### Clean data by column

In [67]:
df['Contact Duration'].value_counts()

77      24
112     23
73      22
81      21
122     20
        ..
568      1
776      1
433      1
440      1
1386     1
Name: Contact Duration, Length: 828, dtype: int64

In [68]:
rgx = re.compile(r'\d+(y)')
df['Job Type'] = df['Job Type'].str.replace('.', '')
df['Job Type'] = df['Job Type'].str.replace('-', ' ')
df['Education'] = df['Education'].str.replace('.', ' ')
df['Education'] = df['Education'].str.replace('university degree', 'college')
df['Education'] = df['Education'].str.replace('y', 'th')
df

C:\Users\tyben\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

C:\Users\tyben\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

,Age,Job Type,Marital Status,Education,Default Credit,Mortgage,Personal Loan,Contact Type,Last Contact,Day Of Week,...,Total Contacts,Days Since Contacted,Number Previous Contacts,Previous Outcome,Employment Variation Rate,Consumer Price Index,Consumer Confidence Index,Eurobori 3 Mos,Number Employed,Term Deposited
0,30,blue collar,married,basic 9th,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic 9th,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin,married,college,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin,married,basic 6th,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin,married,high school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin,married,high school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

### Transpose the DataFrame to see all column names inline

In [69]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,4109,4110,4111,4112,4113,4114,4115,4116,4117,4118
Age,30,39,25,38,47,32,32,41,31,35,...,63,53,30,31,31,30,39,27,58,34
Job Type,blue collar,services,services,services,admin,services,admin,entrepreneur,services,blue collar,...,retired,housemaid,technician,technician,admin,admin,admin,student,admin,management
Marital Status,married,single,married,married,married,single,single,married,divorced,married,...,married,divorced,married,single,single,married,married,single,married,single
Education,basic 9th,high school,high school,basic 9th,college,college,college,college,professional course,basic 9th,...,high school,basic 6th,college,professional course,college,basic 6th,high school,high school,high school,high school
Default Credit,no,no,no,no,no,no,no,unknown,no,unknown,...,no,unknown,no,no,no,no,no,no,no,no
Mortgage,yes,no,yes,unknown,yes,no,yes,yes,no,no,...,no,unknown,no,yes,yes,yes,yes,no,no,yes
Personal Loan,no,no,no,unknown,no,no,no,no,no,no,...,no,unknown,yes,no,no,yes,no,no,no,no
Contact Type,cellular,telephone,telephone,telephone,cellular,cellular,cellular,cellular,cellular,telephone,...,cellular,telephone,cellular,cellular,cellular,cellular,telephone,cellular,cellular,cellular
Last Contact,may,may,jun,jun,nov,sep,sep,nov,nov,may,...,oct,may,jun,nov,nov,jul,jul,may,aug,nov
Day Of Week,fri,fri,wed,fri,mon,thu,mon,mon,tue,thu,...,wed,fri,fri,thu,thu,thu,fri,mon,fri,wed
Contact Duration,487,346,227,17,58,128,290,44,68,170,...,1386,85,131,155,463,53,219,64,528,175
Total Contacts,2,4,1,3,1,3,4,2,1,1,...,1,2,1,1,1,1,1,2,1,1
Days Since Contacted,999,999,999,999,999,999,999,999,999,999,...,999,999,999,999,999,999,999,999,999,999
Number Previous Contacts,0,0,0,0,0,2,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
Previous Outcome,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,failure,nonexistent,nonexistent,failure,nonexistent,...,nonexistent,nonexistent,failure,nonexistent,nonexistent,nonexistent,nonexistent,failure,nonexistent,nonexistent
Employment Variation Rate,-1.8,1.1,1.4,1.4,-0.1,-1.1,-1.1,-0.1,-0.1,1.1,...,-3.4,1.1,-1.7,-0.1,-0.1,1.4,1.4,-1.8,1.4,-0.1
Consumer Price Index,92.893,93.994,94.465,94.465,93.2,94.199,94.199,93.2,93.2,93.994,...,92.431,93.994,94.055,93.2,93.2,93.918,93.918,92.893,93.444,93.2
Consumer Confidence Index,-46.2,-36.4,-41.8,-41.8,-42.0,-37.5,-37.5,-42.0,-42.0,-36.4,...,-26.9,-36.4,-39.8,-42.0,-42.0,-42.7,-42.7,-46.2,-36.1,-42.0
Eurobori 3 Mos,1.313,4.855,4.962,4.959,4.191,0.884,0.879,4.191,4.153,4.855,...,0.74,4.855,0.748,4.076,4.076,4.958,4.959,1.354,4.966,4.12
Number Employed,5099.1,5191.0,5228.1,5228.1,5195.8,4963.6,4963.6,5195.8,5195.8,5191.0,...,5017.5,5191.0,4991.6,5195.8,5195.8,5228.1,5228.1,5099.1,5228.1,5195.8
Term Deposited,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no

### Convert Days Since Contacted data to int64.

In [70]:
df['Days Since Contacted'].replace(999, 99999, inplace=True)

### Change 999 to 99999 to allow a very large number to represent not contacted
#### NOTE: Converting to NaN casts the column as float64 by default, but int64 isa  more appropriate data type.

In [71]:
df['Mortgage'].replace('unknown', np.nan, inplace=True)
df['Personal Loan'].replace('unknown', np.nan, inplace=True)
df['Previous Outcome'].replace('nonexistent', np.nan, inplace=True)
df

,Age,Job Type,Marital Status,Education,Default Credit,Mortgage,Personal Loan,Contact Type,Last Contact,Day Of Week,...,Total Contacts,Days Since Contacted,Number Previous Contacts,Previous Outcome,Employment Variation Rate,Consumer Price Index,Consumer Confidence Index,Eurobori 3 Mos,Number Employed,Term Deposited
0,30,blue collar,married,basic 9th,no,yes,no,cellular,may,fri,...,2,99999,0,NaN,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high school,no,no,no,telephone,may,fri,...,4,99999,0,NaN,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high school,no,yes,no,telephone,jun,wed,...,1,99999,0,NaN,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic 9th,no,NaN,NaN,telephone,jun,fri,...,3,99999,0,NaN,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin,married,college,no,yes,no,cellular,nov,mon,...,1,99999,0,NaN,-0.1,93.200,-42.0,4.191,5195.8,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4114,30,admin,married,basic 6th,no,yes,yes,cellular,jul,thu,...,1,99999,0,NaN,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin,married,high school,no,yes,no,telephone,jul,fri,...,1,99999,0,NaN,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high school,no,no,no,cellular,may,mon,...,2,99999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin,married,high school,no,no,no,cellular,aug,fri,...,1,99999,0,NaN,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high school,no,yes,no,cellular,nov,wed,...,1,99999,0,NaN,-0.1,93.200,-42.0,4.120,5195.8,no

In [72]:
df.dtypes

Age                            int64
Job Type                      object
Marital Status                object
Education                     object
Default Credit                object
Mortgage                      object
Personal Loan                 object
Contact Type                  object
Last Contact                  object
Day Of Week                   object
Contact Duration               int64
Total Contacts                 int64
Days Since Contacted           int64
Number Previous Contacts       int64
Previous Outcome              object
Employment Variation Rate    float64
Consumer Price Index         float64
Consumer Confidence Index    float64
Eurobori 3 Mos               float64
Number Employed              float64
Term Deposited                object
dtype: object

### Check for missing values in numeric fields

In [76]:
np.count_nonzero(df[['Consumer Price Index',
                     'Consumer Confidence Index',
                     'Eurobori 3 Mos',
                     'Employment Variation Rate',
                     'Number Employed',
                     'Days Since Contacted',
                     'Total Contacts',
                     'Contact Duration',
                     'Number Previous Contacts']].isnull())

0

# Conclusion
### This notebook cleaned a dataset with columns and data points that had unconventional and obfuscated formatting. Variable names were renamed and string operations were performed on both variables and values to provide clarity to anyone attempting to perform analysis on the data. Any "unknown" values were left as is if the data type of that variable was an object. Missing data in columns with numeric data types were converted to NaN using np.nan. The only exception to this rule was the Days Since Contacted column, which was more appropriately cast as an int64 datatype, and converting 999 to NaN using numpy automatically recast the column as float64.
### Days Since Contacted