<div align="center"><b>MSDE 620</b></div>
<div align="center"><b>Week 4</b></div>
<div align="center"><b>Laboratory</b></div>
<div align="center"><b>Terrance Bensink</b></div>
<div align="center"><b>Regis University</b></div>

[Introduction](#Introduction)

[Exploratory DataFrame Analysis](#Exploratory-DataFrame-Analysis)

[Rename Columns](#Rename-Columns)

[Conclusion](#Conclusion)

# Introduction

In [18]:
import pandas as pd
import re

## Exploratory DataFrame Analysis

In [10]:
df = pd.read_csv('assign_wk4/bank-additional.csv', sep=';')

In [11]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [14]:
df.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [13]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,4109,4110,4111,4112,4113,4114,4115,4116,4117,4118
age,30,39,25,38,47,32,32,41,31,35,...,63,53,30,31,31,30,39,27,58,34
job,blue-collar,services,services,services,admin.,services,admin.,entrepreneur,services,blue-collar,...,retired,housemaid,technician,technician,admin.,admin.,admin.,student,admin.,management
marital,married,single,married,married,married,single,single,married,divorced,married,...,married,divorced,married,single,single,married,married,single,married,single
education,basic.9y,high.school,high.school,basic.9y,university.degree,university.degree,university.degree,university.degree,professional.course,basic.9y,...,high.school,basic.6y,university.degree,professional.course,university.degree,basic.6y,high.school,high.school,high.school,high.school
default,no,no,no,no,no,no,no,unknown,no,unknown,...,no,unknown,no,no,no,no,no,no,no,no
housing,yes,no,yes,unknown,yes,no,yes,yes,no,no,...,no,unknown,no,yes,yes,yes,yes,no,no,yes
loan,no,no,no,unknown,no,no,no,no,no,no,...,no,unknown,yes,no,no,yes,no,no,no,no
contact,cellular,telephone,telephone,telephone,cellular,cellular,cellular,cellular,cellular,telephone,...,cellular,telephone,cellular,cellular,cellular,cellular,telephone,cellular,cellular,cellular
month,may,may,jun,jun,nov,sep,sep,nov,nov,may,...,oct,may,jun,nov,nov,jul,jul,may,aug,nov
day_of_week,fri,fri,wed,fri,mon,thu,mon,mon,tue,thu,...,wed,fri,fri,thu,thu,thu,fri,mon,fri,wed
duration,487,346,227,17,58,128,290,44,68,170,...,1386,85,131,155,463,53,219,64,528,175
campaign,2,4,1,3,1,3,4,2,1,1,...,1,2,1,1,1,1,1,2,1,1
pdays,999,999,999,999,999,999,999,999,999,999,...,999,999,999,999,999,999,999,999,999,999
previous,0,0,0,0,0,2,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
poutcome,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,failure,nonexistent,nonexistent,failure,nonexistent,...,nonexistent,nonexistent,failure,nonexistent,nonexistent,nonexistent,nonexistent,failure,nonexistent,nonexistent
emp.var.rate,-1.8,1.1,1.4,1.4,-0.1,-1.1,-1.1,-0.1,-0.1,1.1,...,-3.4,1.1,-1.7,-0.1,-0.1,1.4,1.4,-1.8,1.4,-0.1
cons.price.idx,92.893,93.994,94.465,94.465,93.2,94.199,94.199,93.2,93.2,93.994,...,92.431,93.994,94.055,93.2,93.2,93.918,93.918,92.893,93.444,93.2
cons.conf.idx,-46.2,-36.4,-41.8,-41.8,-42.0,-37.5,-37.5,-42.0,-42.0,-36.4,...,-26.9,-36.4,-39.8,-42.0,-42.0,-42.7,-42.7,-46.2,-36.1,-42.0
euribor3m,1.313,4.855,4.962,4.959,4.191,0.884,0.879,4.191,4.153,4.855,...,0.74,4.855,0.748,4.076,4.076,4.958,4.959,1.354,4.966,4.12
nr.employed,5099.1,5191.0,5228.1,5228.1,5195.8,4963.6,4963.6,5195.8,5195.8,5191.0,...,5017.5,5191.0,4991.6,5195.8,5195.8,5228.1,5228.1,5099.1,5228.1,5195.8
y,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no

In [17]:
df['contact'].value_counts()

cellular     2652
telephone    1467
Name: contact, dtype: int64

In [19]:
df['poutcome'].value_counts()

nonexistent    3523
failure         454
success         142
Name: poutcome, dtype: int64

In [20]:
df['housing'].value_counts()

yes        2175
no         1839
unknown     105
Name: housing, dtype: int64

In [15]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

## Rename Columns

# Conclusion